extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.slider
		.slider1.owl-carousel.owl-theme
			.item1
			.item2
			.item3
			.item4
			.item5
		.logo-slider
			.logo
				figure
					img.img-fluid(src="img/home_logo.png", alt="")
	section.welcome-danny.mt-5
		.container
			.row
				.col-sm-0.col-md-0.col-lg-6.hangwellcome1
					figure.hinh1
						img.img-fluid(src="img/home_wellcome_2.jpg", alt="")
					figure.hinh2
						img.img-fluid(src="img/home_wellcome_1.jpg", alt="")
					
				.col-sm-0.col-md-0.col-lg-1
				.col-sm-12.col-md-12.col-lg-5
					fincagtion.text-wellcome
						h4 Wellcome at
						h3 DANNY'S RESTAURANT
						h5 “Action ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate”.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
						.row.mt-5
							.col
								a.mt-5(href="about.html")
									span ABOUT US
	section.restaurant-menu
		.container-fluid
			.row
				.col-sm-6
					.menu-restaurant-text
						h4 Restaurant
						h3 MENU
						.row
							.col-sm-6
								h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores optio odit, illo ut porro rerum odio facere!
							.col-sm-6
								h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores optio odit, illo ut porro rerum odio facere!
						.row.mt-5
							.col
								a.mt-5(href="about.html")
									span WHAT'S ON THE MENU 

						

				.col-sm-6
					figure.menu-restaurant-img
						img.img-fluid(src="img/home_menu_1.jpg", alt="")
	section.vietnam-specialities
		.container-fluid
			.row
				.col-sm-0.col-md-0.col-lg-6.vn-food
					figure.vn-food-mot
						img.img-fluid(src="img/home_vietnam_2.jpg", alt="")
					figure.vn-food-hai
						img.img-fluid(src="img/home_vietnam_1.jpg", alt="")
				.col-sm-12.col-md-12.col-lg-6.vn-food-text
					.row
						.vn-food-title
							h4 Vietnam
							h3 SPECIALITIES
					.row.vn-food-text-content
						.col-sm-6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque velit odio sunt laborum assumenda adipisci natus temporibus accusamus saepe quia commodi eaque porro labore, eveniet fugit quisquam ipsa similique.Lorem ipsum dolor, sit amet p consectetur adipisicing elit. Iure, quaerat.
						.col-sm-6
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, quisquam animi quas deserunt soluta ex reiciendis harum sint suscipit?. Lorem ipsum dolor, sit amet p consectetur adipisicing elit. Iure, quaerat.Lorem ipsum dolor, sit amet p consectetur adipisicing elit. Iure, quaerat.
					.row.mt-5.vn-food-view
							.col
								a.mt-5(href="about.html")
									span VIEW ALL
	section.food-specialities
		.food-today-text
			h4 La creme de la creme
			h3 TODAY'S SPECIALITY
			p Oven Roasted duck with special sousage
			p $25.00
			.read-more.mt-5
				a.mt-5(href="about.html")
					span READ MORE
	section.menu-cart
		.container-fluid
			.row
				.col-md-12.col-lg-3
					.menu-food-cart
						.menu-food-title
							p RESTAURANT
							h4 MENU
						.ul.menu-food-cart-mot
							li
								a.nav-link(href="#") ALL
							li
								a.nav-link(href="#") STARTERS
							li
								a.nav-link(href="#") MAIN
							li
								a.nav-link(href="#") DESERT
							li
								a.nav-link(href="#") DAILY MENU
							li
								a.nav-link(href="#") CHEF’S SPECIALITY
							li
								a.nav-link(href="#") OFFERS

				.col-md-12.col-lg-9.menu-cart-product
					.row.product-colum-one
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_11.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_12.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
									
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_13.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
					.row.product-colum-one
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_14.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_5.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_6.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
					.row.product-colum-one
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_7.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_10.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
						.col-sm-12.col-md-4.all-product
							.product-details
								figure
									img.img-fluid(src="img/home_shop_9.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
								figcaption
									.boc-button-add-cart
										button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
									p Apple cider sauce and pork
									p.second $15.00
	section.feedback-user
		.container
			.row
				.feedback-title
					h4 Clients
					h3 TESTIMONIALS
			.row
				.slider2.owl-carousel.owl-theme
					.item
						p "The menu, ambience and special attention given by your staff to the guests, was as always of the highest standard. We continue to receive compliments by many of those who were present"
						p "
						p Richard Nauz
					.item
						p "I had such a wonderful evening yesterday, on my Birthday. The food was, as per usual, absolutely delicious and my Mother and I thoroughly enjoyed ourselves"
						p "
						p James De Franco
					.item
						p "It was a fantastic evening in your superb restaurant which was enjoyed by everyone who was fortunate to be there" 
						p "
						p Julie Defoir
	section.address-restaurant
		.container-fluid
			.row
				.col-md-6.text-address
					.text-address-hai
						h3 RESTAURANT
						p 49 FEATHERSTONE STREET LONDON EC1Y 
						p 8SY UNITED KINGDOM
						p +4 1800 555 1234
						p BOOKATABLE@RESTAURANT.COM
						.row.mt-5.abouts-us
							.col-12
								a.mt-5(href="about.html")
									span ABOUT US
				.col-md-6.map-address
					.map-address-hai
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.986034886734!2d106.7001562141167!3d10.812380261487233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752894f672eaa9%3A0x41f28a9104de4347!2sOfficer+Academy+Ho+Chi+Minh+City!5e0!3m2!1sen!2s!4v1550168670399" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>






