extends _layout/layout

block variables
	- var title = 'Menu'
	- var description = 'Description for Menu page'
	- var bodyclass = 'Menu'

block body
	section.page-header-new
		.container-fluid
			.row
				.col
					.page-text-reservation
						h5 RESTAURANT
						h2 Blog
						p.pt-5 We Cook & Blog to your liking
						h6 Danny's 
	section.page-info-new
		.container-fluid
			.row
				.col-md-12.col-lg-8
					.row.pb-5
						.col
							.title-text-cot-trai-new
								h5 Special deal if you order 3 or more pizza’s
								p MAY 9, 2017 by STEFAN in ALL, CHEF'S SPECIALITY, MAIN, OFFERS
								figure
									img.img-fluid(src="./img/new_1.jpg", alt="")
					.row
						.col-md-6
							.title-text-cot-trai-con-new
								h5 Stuffed Eggplant
								p MAY 9, 2017 by STEFAN in ALL, CHEF'S SPECIALITY, DESERT, DRINKS, OFFERS
								figure
									img.img-fluid(src="./img/new_2.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
							.title-text-cot-trai-con-new
								h5 I don’t know about you but this looks delicious
								p MAY 9, 2017 by STEFAN in ALL, DAILY MENU, MAIN, OFFERS
								figure
									img.img-fluid(src="./img/new_4.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
							.title-text-cot-trai-con-new
								h5 Chef’s Starter
								p MAY 9, 2017 by STEFAN in ALL, STARTERS
								figure
									img.img-fluid(src="./img/new_6.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
						.col-md-6
							.title-text-cot-trai-con-new
								h5 Sweet Danny’s Cherry Pie desert recipes
								p MAY 9, 2017 by STEFAN in ALL, DESERT, OFFERS
								figure
									img.img-fluid(src="./img/new_3.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
							.title-text-cot-trai-con-new
								h5 Salt and Pepper Tofu
								p MAY 9, 2017 by STEFAN in ALL, DESERT, OFFERS
								figure
									img.img-fluid(src="./img/new_5.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
							.title-text-cot-trai-con-new
								h5 Find more about today’s main speciality
								p MAY 9, 2017 by STEFAN in ALL, MAIN
								figure
									img.img-fluid(src="./img/new_7.jpg", alt="")
								figcaption
									p Distinctively brand user friendly products with effective processes. Dramatically predominate optimal collaboration and idea-sharing for enterprise mindshare
								


					
				.col-md-0.col-lg-4.page-news-menu
					.row
						.menu-food-cart
							.menu-food-title
								p RESTAURANT
								h4 MENU
							.ul.menu-food-cart-mot
								li
									a.nav-link(href="#") ALL
								li
									a.nav-link(href="#") STARTERS
								li
									a.nav-link(href="#") MAIN
								li
									a.nav-link(href="#") DESERT
								li
									a.nav-link(href="#") DAILY MENU
								li
									a.nav-link(href="#") CHEF’S SPECIALITY
								li
									a.nav-link(href="#") OFFERS
					.row
						.quangcao
							figure
								img.img-fluid(src="./img/new_banner_1.jpg", alt="")
					.row
						.youtube
							<iframe width="408px" height="300px" src="https://www.youtube.com/embed/KttJtd78NJo?list=PLjVFSJIbwjN1RgtdcnVNmObNxVc6YwPGX" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					.row
						.page-new-featured
							h5 FEATURED
							.info-new-featured
								span 1
								h6 SPECIAL DEAL IF YOU ORDER 3 OR MORE PIZZA’S
								p UNDER ALL, CHEF'S SPECIALITY, MAIN, OFFERS
							.info-new-featured
								span 2
								h6 STUFFED EGGPLANT
								p UNDER ALL, CHEF'S SPECIALITY, DESERT, DRINKS, OFFERS
							.info-new-featured
								span 3
								h6 SWEET DANNY’S CHERRY PIE DESERT RECIPES
								p UNDER ALL, DESERT, OFFERS

