extends _layout/layout

block variables
	- var title = 'Reservation'
	- var description = 'Description for Reservation page'
	- var bodyclass = 'Reservation'

block body
	section.page-reservation-header
		.container-fluid
			.row
				.col
					.page-text-reservation
						h5 MAKE AN ONLINE
						h2 Reservation
						p Or call us at +84 0384 352 620 any from
						h6 7:00 AM - 11:00 PM
