extends _layout/layout

block variables
	- var title = 'Reservation'
	- var description = 'Description for Reservation page'
	- var bodyclass = 'Reservation'

block body
	section.page-shop-on
	section.page-shop
		.container
			.row
				.col
					.address-details-shop
						p HOME /
							span  PRODUCT
	section.page-shop-title.pt-3
		.container
			.row
				.col
					h5 Shop
					p SHOWING 1–8 OF 16 RESULTS
	section.page-shop-product.pb-5
		.container.menu-cart-product
			.row.product-colum-one
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_11.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id1" data-price="12") ADD TO CART
							p Apple cider sauce and pork
							p.second $12
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_12.jpg" , alt="sản phẩm 1",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id2" data-price="18") ADD TO CART
							p Apple cider sauce and pork
							p.second $18.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_13.jpg" , alt="sản phẩm 3",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id3" data-price="13") ADD TO CART
							p Apple cider sauce and pork
							p.second $13.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_4.jpg" , alt="sản phẩm 4",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id4" data-price="11") ADD TO CART
							p Apple cider sauce and pork
							p.second $11.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_5.jpg" , alt="sản phẩm 5",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id5" data-price="7.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $7.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_6.jpg" , alt="sản phẩm 6",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id6" data-price="13.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $13.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_7.jpg" , alt="sản phẩm 7",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id7" data-price="9.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $9.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_8.jpg" , alt="sản phẩm 8",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id8" data-price="10.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $10.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_9.jpg" , alt="sản phẩm 9",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id9" data-price="11.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $11.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_10.jpg" , alt="sản phẩm 10",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id10" data-price="15.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $15.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_11.jpg" , alt="sản phẩm 11",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id11" data-price="18.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $18.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_12.jpg" , alt="sản phẩm 12",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id12" data-price="8.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $8.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_13.jpg" , alt="sản phẩm 13",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id13" data-price="13.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $13.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_14.jpg" , alt="sản phẩm 14",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id14" data-price="6.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $6.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_15.jpg" , alt="sản phẩm 15",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id15" data-price="4.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $4.00
				.col-sm-12.col-md-4.col-lg-3.all-product
					.product-details
						figure
							img.img-fluid(src="img/home_shop_16.jpg" , alt="sản phẩm 16",  width="300px" , height="300px")
						figcaption
							.boc-button-add-cart
								button.sc-add-to-cart(type='submit' data-name='Apple cider sauce and pork'  id="id16" data-price="8.00") ADD TO CART
							p Apple cider sauce and pork
							p.second $8.00
				
	section.navigation
		//- PHÂN TRANG
		input(type="hidden")#current_page
		input(type="hidden")#show_per_page
		#page-navigation




