<!-- ////////////// FOOTER ////////////// -->
	section.subscribe-restaurant
		.container-fluid
			.row.text-subscribe-restaurant
				.col
					h4 Subscribe to our
					h3 NEWSLETTER
					p Subscribe to our newsletter and receive 15% discount from your order.
					figure
						img.img-fluid(src="img/sale.png", alt="")
			.row
				.col.form-subscribe-restaurant
					.form-subscribe.input-group.mb-3
						input.form-control(type='email', placeholder="Your email@gmail.com", aria-label="Recipient's username", aria-describedby='basic-addon2')
						.input-group-append
							button#button-addon2.btn.btn-outline-secondary(type='button') subscribe
footer.restaurant-footer
	.container-fluid
		.row
			.col-md-6.col-lg-4
				.row.footer-cot1
					.col-sm-8
						p Chef Taylor Bonnyman, working in 
						p collaboration with Head Chef Marguerite 
						p Keogh, offer elegant & playful modern British 
						p cooking.
					.col-sm-4
						ul
							li
								a.nav-link(href='#') Home 
							li
								a.nav-link(href='#') Menu
							li
								a.nav-link(href='#') Reservation
							li
								a.nav-link(href='#') Shop
							li
								a.nav-link(href='#') News
							li
								a.nav-link(href='#') Contact
			.col-md-6.col-lg-4.cot-hai
				.row
					.online-reservation
						button#button-addon2.btn(type='button') online-reservation
				.row
					.follow-restaurant
						p FOLLOW
						span
							i.fa.fa-facebook-f
						span
							i.fa.fa-instagram
						span
							i.fa.fa-twitter
						span
							i.fa.fa-youtube

			.col-md-12.col-lg-4.cot-ba
				h6 +84 038 4352 620
				h5 vominhbang1999@gmail.com
				.cot-ba-hang-hai
					p 49 Featherstone Street
					p Ho Chi Minh City
					p Hoc Vien Can Bo 
					p 176/178 Chu Van An Street , Binh Thanh , Ho Chi Minh City
				
